/* page style */
header, footer, section{
  max-width: 1200px;
  align-self: center;
  font-family: futura-light;
  padding: 10px 10%;
  margin: auto;
}

/* header style */
header a{
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
}
header a:hover{
  color:black;
}
.logo_img{
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.nav li{
  display: inline-block;
  margin: 20px 20px;
}
.nav{
  float: right;
}
.nav .bold{
  font-weight: bold;
}

/* paragraph style */
.main_des p{
  font-size: 32px;
  margin: 60px 0px;
  text-align: center;
}
.page_des{
  margin-top: 30px;
  height: auto;
}
.page_des h1{
  float: left;
  margin-right: 10%;
  font-size: 40px;
  width: 15%;
  font-weight: bold;
}
.page_des p{
  font-size: 18px;
  float: right;
  width: 65%;
  line-height: 200%;
}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
}

/* cover style */
.cover{
  margin: 20px 0;

}
.cover img{
  width: 200px;
  height: 200px;
}
.cover img:hover{
  opacity: 0.5;
}
.cover p{
  margin: 5px 0;
}

/* about style */
.chong_img{
  width: 30%;
  height: auto;
  display: inline-block;
  padding: 20px;
}
.about{
  display: inline-block;
  width: 60%;
  float: right;
  padding: 30px 0px;
}

/* footer style */
.footer_img{
  width: 25px;
  height: 25px;
  margin: 10px 15px;
}
.copyright{
  text-align: right;
  float: right;
}
